/* Eerste sectie met doorklikbare carousel */
section:nth-of-type(1) {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--section-background);
    color: var(--text-color);
    width: 100%;
    margin-bottom: 0;
}

section:nth-of-type(1) article {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 0.5em;
    order: -10;
}

section:nth-of-type(1) article p {
    position: relative;
    top: 1em;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color);
    font-family: var(--font-roboto-condensed);
    font-size: var(--sub-sub-text);
    font-weight: 400;
    letter-spacing: var(--body-letter-spacing);
    margin: 0;
    padding: 0;
}

section:nth-of-type(1) article img {
    width: 3em;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
}











section:nth-of-type(1) > ul:first-of-type {
    display: flex;
    overflow: hidden;
}

section:nth-of-type(1) > ul:first-of-type li {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1em;
    padding-bottom: 5em;
}

section:nth-of-type(1) > ul:first-of-type li h3 {
    position: relative;
    top: 1em;
    font-family: var(--font-roboto-condensed); 
    color: var(--text-color); 
    font-size: var(--h2-text); 
    font-weight: var(--text-weight); 
    text-transform: uppercase;
    padding: 0 1em;
}

section:nth-of-type(1) > ul:first-of-type li p {
    position: relative;
    top: 2em;
    padding: 0 2em;
    font-family: var(--font-roboto); 
    font-size: var(--sub-text); 
}

section:nth-of-type(1) > ul:first-of-type li a {
    padding: 0.75em 1em;
    background-color: var(--marvel-red);
    color: var(--text-color);
    font-family: var(--font-roboto);
    font-size: var(--sub-text);
    font-weight: var(--text-weight);
    text-transform: uppercase;
    transform: skewX(-20deg);
    width: 9.375em;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 2em;
    text-align: center;
    top: 2em;
}

section:nth-of-type(1) > ul:first-of-type li img:nth-of-type(1) {
    width: 100%;
    order: -10;
}

section:nth-of-type(1) > ul:first-of-type li img:nth-of-type(2) {
    position: relative;
    top: 1em;
    width: 100%;
    order: -10;
    padding: 0 2em;
}






section:nth-of-type(1) > ul:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--color-white);
    z-index: 500;
    gap: 1.5em;
    position: relative;
}

section:nth-of-type(1) > ul:last-of-type li {
    position: relative;
    padding: 0.5em 0;
}

section:nth-of-type(1) > ul:last-of-type li:first-child {
    margin-right: auto;
    font-family: var(--font-roboto-condensed); 
    color: var(--color-grey-light);
    font-weight: var(--text-weight); 
    letter-spacing: var(--sub-text-spacing); 
    font-size: var(--p-text);
    text-transform: uppercase;
    left: 2em;
}

section:nth-of-type(1) > ul:last-of-type li img {
    width: 1.2em;
    /* brom voor aanpassen van de svg kleuren: https://chatgpt.com/share/672a2c8c-a6d0-8003-97bd-cf750a9b327f */
    filter: grayscale(1) brightness(0) invert(1) hue-rotate(0deg) saturate(1000%) brightness(0.4);
    display: block;
    position: relative;
    right: 0.5em;
}






section:nth-of-type(1) nav {
    z-index: 500;
    display: flex;
    justify-content: center;
    order: -9;
    position: relative;
}

section:nth-of-type(1) nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0.4em;
    z-index: 500;
}

section:nth-of-type(1) nav a {
    display: block;
    height: 0.3125em;
    background-color: var(--text-color); 
    transition: background-color 0.3s;
    border: 1px solid var(--color-black); 
    width: 1.25em;
}

section:nth-of-type(1) nav a:hover {
    background-color: var(--marvel-red);
}














/* Tweede sectie met slider */

section:nth-of-type(2) section {
    display: flex;
    flex-direction: column;
    background-color: var(--section-background); 
    color: var(--text-color); 
    padding: 0 2em 6em 2em;
    margin-bottom: 5em;
    transform: skewy(-10deg);
}

section:nth-of-type(2) h2 {
    color: var(--text-color);
    position: relative;
    transform: skewy(10deg);
    margin: 0;
    padding-bottom: 0.5em;
    padding-top: 0.2em;
}

section:nth-of-type(2) section h2::before,
section:nth-of-type(2) section h2::after {
    display: none;
    transform: skewy(10deg);
}

section:nth-of-type(2) section h3 {
    position: relative;
    order: -5;
    font-family: var(--font-roboto-condensed); 
    font-size: var(--sub-text); 
    font-weight: var(--bold-text-weight); 
    margin-bottom: 2em;
    transform: skewy(10deg);
    margin-top: 4em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

section:nth-of-type(2) section h3::before {
    left: 53px;
    top: -8px;
    transform-origin: left bottom;
}

section:nth-of-type(2) section h3::after {
    left: -6px;
    top: calc(100% + 3px);
    transform-origin: right top;
}

section:nth-of-type(2) section h3::before,
section:nth-of-type(2) section h3::after {
    background-color: #c6a972;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform: rotate(-45deg) skewX(45deg);
    width: 30px;
}

section:nth-of-type(2) section p {
    position: relative;
    font-size: var(--p-text); 
    font-family: var(--font-roboto);
    transform: skewy(10deg);
}







section:nth-of-type(2) section div {
    padding: 0.75em 1em;
    transform: skewX(-20deg) skewY(10deg);
    border: 0.0625em solid var(--text-color);
    width: 15.625em;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: -2em;
}

section:nth-of-type(2) section div a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: var(--text-color); 
}

section:nth-of-type(2) section div a span {
    transform: skewX(20deg);
    display: inline-block;
    font-size: var(--sub-text); 
    font-family: var(--font-roboto); 
    font-weight: var(--bold-text-weight); 
    text-transform: uppercase;
    letter-spacing: var(--body-letter-spacing); 
}

section:nth-of-type(2) section img:first-of-type {
    width: 4.5em;
    height: auto;
    order: -8;
    position: relative;
    transform: skewy(10deg);
    margin-top: 2em;
}

section:nth-of-type(2) section img:last-of-type {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    order: -10;
    padding: 0;
    transform: skewy(10deg);
}










/* Slider gedeelte van sectie 2 */
section:nth-of-type(2) ul {
    display: flex;
    padding: 0 2em 2em 2em;
    list-style-type: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1.2em;
    position: relative;
    left: 1em;
    right: 1em;
}

/* Carousel scroll balk */
section:nth-of-type(2) ul::-webkit-scrollbar {
    height: 0.2em;
    width: 0;
    background-color: var(--scroll-bar);
}

/* Carousel scroll balk Slider */
section:nth-of-type(2) ul::-webkit-scrollbar-thumb {
    background-color: var(--marvel-red);
}

section:nth-of-type(2) ul li {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    gap: 0.5em;
}

section:nth-of-type(2) ul li p:first-of-type {
    font-family: var(--font-roboto);
    color: var(--color-grey-dark);
    font-size: var(--sub-text);
    font-weight: var(--text-weight); 
    letter-spacing: var(--sub-text-spacing); 
}

section:nth-of-type(2) ul li p:last-of-type {
    font-family: var(--font-roboto-condensed);
    color: var(--color-grey-light);
    font-size: var(--sub-text);
    font-weight: var(--text-weight);
}

section:nth-of-type(2) ul li img {
    width: 11em;
    height: auto;
    order: -1;
    /*bron voor box-shadow https://www.w3schools.com/css/css3_shadows_box.asp */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}









/* SECTION 3 */
section:nth-of-type(3) {
    padding: 0 2em;
}

section:nth-of-type(3) h2 {
    position: relative;
}

section:nth-of-type(3) ul {
    display: block;
}

section:nth-of-type(3) ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    gap: 1em;
}

/* Maakt de lijn van de linker naar de rechter kant van de list onder de content */
section:nth-of-type(3) ul li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    border-bottom: 1px solid var(--border-bottom);
}

section:nth-of-type(3) ul li h3 {
    position: relative;
    font-family: var(--font-roboto); 
    color: var(--color-grey-dark);
    font-size: var(--h3-text); 
    font-weight: var(--bold-text-weight); 
}

section:nth-of-type(3) ul li p {
    order: -4;
    position: relative;
    font-family: var(--font-roboto-condensed); 
    color: var(--color-grey-light);
    font-size: var(--sub-text); 
    font-weight: var(--bold-text-weight);
    letter-spacing: var(--sub-text-spacing); 
    text-transform: uppercase; 
}

section:nth-of-type(3) img {
    position: relative;
    width: 100%;
    height: auto;
    order: -5;
}







/* SECTION 4 */
section:nth-of-type(4) {
    margin-top: 3em;
    padding: 0 2em;
}

section:nth-of-type(4) img {
    width: 100%;
    height: auto;
    order: -1;
}

section:nth-of-type(4) div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section:nth-of-type(4) div h3 {
    font-family: var(--font-roboto); 
    color: var(--color-grey-dark); 
    font-size: var(--h3-video-text); 
    font-weight: var(--bold-text-weight); 
    letter-spacing: var(--sub-text-spacing);
}

section:nth-of-type(4) div p:first-of-type {
    font-family: var(--font-roboto);
    font-size: var(--p-text); 
    color: var(--color-grey-dark); 
}

section:nth-of-type(4) div p:last-of-type {
    font-family: var(--font-roboto-condensed); 
    color: var(--color-grey-light); 
    font-size: var(--sub-text); 
    font-weight: var(--text-weight);
    letter-spacing: var(--sub-text-spacing);
    text-transform: uppercase;
    order: -10;
}

section:nth-of-type(4) div iframe {
    order: -15;
    position: relative;
    width: 100%;
    height: 100%;
}

section:nth-of-type(4) ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1.2em;
    padding-bottom: 2em;
    margin: 0;
    position: relative;
    top: 1em;
}

section:nth-of-type(4) ul::-webkit-scrollbar {
    height: 0.2em;
    background-color: var(--scroll-bar);
}

section:nth-of-type(4) ul::-webkit-scrollbar-thumb {
    background-color: #e62429; /* Keep this as a specific color */
}

section:nth-of-type(4) li {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    max-width: 7.8125em;
}

section:nth-of-type(4) li p {
    font-family: var(--font-roboto); 
    font-size: var(--sub-sub-text); 
    font-weight: var(--bold-text-weight);
}

section:nth-of-type(4) input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 0.0625em;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.0625em;
}

section:nth-of-type(4) label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    filter: contrast(0.4);
    transition: filter 0.3s ease;
}

section:nth-of-type(4) label:hover {
    filter: contrast(1);
}

section:nth-of-type(4) input[type="radio"]:checked + label {
    filter: contrast(1);
}

section:nth-of-type(4) .content {
    display: none;
}

section:nth-of-type(4):has(input#option1:checked) .content1,
section:nth-of-type(4):has(input#option1:checked) h3 {
    display: flex;
}

section:nth-of-type(4):has(input#option2:checked) .content2,
section:nth-of-type(4):has(input#option2:checked) h3 {
    display: flex;
}

section:nth-of-type(4):has(input#option3:checked) .content3,
section:nth-of-type(4):has(input#option3:checked) h3 {
    display: flex;
}

section:nth-of-type(4):has(input#option4:checked) .content4,
section:nth-of-type(4):has(input#option4:checked) h3 {
    display: flex;
}

section:nth-of-type(4):has(input#option5:checked) .content5,
section:nth-of-type(4):has(input#option5:checked) h3 {
    display: flex;
}


