
/* Eerste sectie met doorklikbare carousel */
section:nth-of-type(1) ul{
	position: relative;
   
}

section:nth-of-type(1) ul li{
	display: flex;
	flex-direction: column;
    width: 100%;
}

section:nth-of-type(1) ul li a{
	padding: 1em;
	background-color: #e62429;
	transform: skewX(-20deg);
	width: 10em;
	overflow: hidden;
	text-decoration:none;
	display: inline-block;
}

section:nth-of-type(1) ul li img {
	width: 100%;
	height: auto;
	order: -1;
}

















/* Tweede sectie met slider */

section:nth-of-type(2) ul {
	display: flex;
	padding: 0;
	list-style-type: none;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	width: 100%;
	gap: 1.2em;
    /* Ruitme tussen de elementen en de scroll balk  */
    padding-bottom:2em ;
}


/* Carousel scroll balk */
section:nth-of-type(2) ul::-webkit-scrollbar {
	height: 0.2em;
	width: 0;
	background-color: whitesmoke;
}

/* Carousel scroll balk Slider */
section:nth-of-type(2) ul::-webkit-scrollbar-thumb {
	background-color: #e62429;

}

section:nth-of-type(2) ul li {
	display: flex;
	flex-direction: column;
	scroll-snap-align: start;
	gap: 1em;
}

section:nth-of-type(2) ul li p:first-of-type {
	font-size: 14px;
	font-weight: bold;
}

section:nth-of-type(2) ul li p:last-of-type {
	font: 'RobotoCondensed';
	font-size: 12px;
	font-weight: bold;
}

section:nth-of-type(2) ul li img {
	width: 10em;
	height: auto;
	order: -1;
}








section:nth-of-type(3) ul {
    display: block;
}

section:nth-of-type(3) ul li {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    border-bottom: 0.1em solid silver;
    gap: 1em;
}

section:nth-of-type(3) ul p:nth-of-type(2){
    order: -4;
    
    
}


section:nth-of-type(3) ul li img {
	width: 100%;
	height: auto;
	order: -5;
}















/* Carousel scroll balk */

section:nth-of-type(4) img {
	width: 100%;
	height: auto;
	order: -10;
}

section:nth-of-type(4) ul {
	display: flex;
    list-style-type: none;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
    gap: 0.5em;
}

section:nth-of-type(4) ul::-webkit-scrollbar {
	height: 0.2em;
	width: 0;
	background-color: whitesmoke;
}

/* Carousel scroll balk Slider */
section:nth-of-type(4) ul::-webkit-scrollbar-thumb {
	background-color: #e62429;

}

section:nth-of-type(4) ul li {
	display: flex;
	flex-direction: column;
	scroll-snap-align: start;
	gap: 1em;
}

section:nth-of-type(4) ul li p:first-of-type {
	font-size: 14px;
	font-weight: bold;
}

section:nth-of-type(4) ul li p:last-of-type {
	font: 'RobotoCondensed';
	font-size: 12px;
	font-weight: bold;
}

section:nth-of-type(4) ul li img {
	width: 10em;
	height: auto;
	order: -1;
}
