/* Eerste sectie met doorklikbare carousel */

section:nth-of-type(1) {
    background-color: var(--background-color);
    color: var(--text-color);
}


section:nth-of-type(1) ul {
    position: relative;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: inline;
    scroll-behavior: smooth;
    overscroll-behavior: contain auto;

}

section:nth-of-type(1) ul li {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    scroll-snap-align: center;
}

section:nth-of-type(1) ul li a {
    padding: 1em;
    background-color: #e62429;
    transform: skewX(-20deg);
    width: 150px;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
}

section:nth-of-type(1) ul li img:nth-of-type(1) {
    height: auto;
    order: -10;
    overflow: hidden;

}

section:nth-of-type(1) ul li img:nth-of-type(2) {
    height: auto;
    order: -5;
    overflow: hidden;

}

















/* Tweede sectie met slider */

section:nth-of-type(2) ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1.2em;
    /* Ruitme tussen de elementen en de scroll balk  */
    padding-bottom: 2em;
}


/* Carousel scroll balk */
section:nth-of-type(2) ul::-webkit-scrollbar {
    height: 0.2em;
    width: 0;
    background-color: whitesmoke;
}

/* Carousel scroll balk Slider */
section:nth-of-type(2) ul::-webkit-scrollbar-thumb {
    background-color: #e62429;

}

section:nth-of-type(2) ul li {
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    gap: 1em;
}

section:nth-of-type(2) ul li p:first-of-type {
    font-size: 14px;
    font-weight: bold;
}

section:nth-of-type(2) ul li p:last-of-type {
    font-family: var(--sub-text-font-family);
    color: var(--sub-text-color);
    font-size: var(--sub-text-size);
    font-weight: var(--sub-text-weight);
}

section:nth-of-type(2) ul li img {
    width: 11em;
    height: auto;
    order: -1;
}
















section:nth-of-type(3) {
    padding: 0 2em;
}

section:nth-of-type(3) h2 {
    position: relative;
}

section:nth-of-type(3) ul {
    display: block;
}

section:nth-of-type(3) ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    gap: 1em;
}

/* Maakt de lijn van de linker naar de rechter kant van de list onder de content */
section:nth-of-type(3) ul li::after {
    content: "";
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 1em;
    border-bottom: 0.1em solid #bbbbbb; 
}

section:nth-of-type(3) ul li h3 {
    position: relative; 
    font-family: var(--main-text-font-family);
    color: var(--main-text-color);
    font-size: var(--main-text-size);
    font-weight: var(--main-text-weight);
}

section:nth-of-type(3) ul li p {
    order: -4; 
    position: relative; 
    font-family: var(--sub-text-font-family);
    color: var(--sub-text-color);
    font-size: var(--sub-text-size);
    font-weight: var(--sub-text-weight);
    letter-spacing: var(--sub-text-spacing);
    text-transform: uppercase;
}

section:nth-of-type(3) img {
    position: relative; 
    width: 100%;
    height: auto;
    order: -5;
}
















/* Carousel scroll balk */

section:nth-of-type(4) {
    margin-top: 3em;
}


section:nth-of-type(4) img {
    width: 5em;
    height: auto;
}

section:nth-of-type(4) ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1.2em;
    padding-bottom: 2em;
}

section:nth-of-type(4) ul::-webkit-scrollbar {
    height: 0.2em;
    width: 0;
    background-color: whitesmoke;
}

/* Carousel scroll balk Slider */
section:nth-of-type(4) ul::-webkit-scrollbar-thumb {
    background-color: #e62429;

}

section:nth-of-type(4) li {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    scroll-snap-align: start;
}

section:nth-of-type(4) input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

section:nth-of-type(4) label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

/* Option 1 */
section:nth-of-type(4):has(li:nth-child(1) input:checked)>h3::before {
    content: "MARVEL vs. CAPCOM Fighting Collection: Arcade Classics | Launch Trailer";
}

section:nth-of-type(4):has(li:nth-child(1) input:checked)>p:nth-of-type(1)::before {
    content: "Gonna take you for a ride back to the arcades with MARVEL vs. CAPCOM Fighting Collection: Arcade Classics!  7 legendary games, all in one Super Heroic collection, available NOW on Nintendo Switch, PlayStation 4 and Steam! Xbox One version coming 2025.";
}

section:nth-of-type(4):has(li:nth-child(1) input:checked)>p:nth-of-type(2)::before {
    content: "Trailers & Extras";
}

section:nth-of-type(4):has(li:nth-child(1) input:checked)>img {
    content: url("./images/placeholder.png");
}

/* Option 2 */
section:nth-of-type(4):has(li:nth-child(2) input:checked)>h3::before {
    content: "Option 2 Title";
}

section:nth-of-type(4):has(li:nth-child(2) input:checked)>p:nth-of-type(1)::before {
    content: "Option 2 Description 1";
}

section:nth-of-type(4):has(li:nth-child(2) input:checked)>p:nth-of-type(2)::before {
    content: "Option 2 Description 2";
}

section:nth-of-type(4):has(li:nth-child(2) input:checked)>img {
    content: url("./images/placeholder.png");
}

/* Option 3 */
section:nth-of-type(4):has(li:nth-child(3) input:checked)>h3::before {
    content: "Option 3 Title";
}

section:nth-of-type(4):has(li:nth-child(3) input:checked)>p:nth-of-type(1)::before {
    content: "Option 3 Description 1";
}

section:nth-of-type(4):has(li:nth-child(3) input:checked)>p:nth-of-type(2)::before {
    content: "Option 3 Description 2";
}

section:nth-of-type(4):has(li:nth-child(3) input:checked)>img {
    content: url("./images/placeholder.png");
}

/* Option 4 */
section:nth-of-type(4):has(li:nth-child(4) input:checked)>h3::before {
    content: "Option 4 Title";
}

section:nth-of-type(4):has(li:nth-child(4) input:checked)>p:nth-of-type(1)::before {
    content: "Option 4 Description 1";
}

section:nth-of-type(4):has(li:nth-child(4) input:checked)>p:nth-of-type(2)::before {
    content: "Option 4 Description 2";
}

section:nth-of-type(4):has(li:nth-child(4) input:checked)>img {
    content: url("./images/placeholder.png");
}

/* Option 5 */
section:nth-of-type(4):has(li:nth-child(5) input:checked)>h3::before {
    content: "Option 5 Title";
}

section:nth-of-type(4):has(li:nth-child(5) input:checked)>p:nth-of-type(1)::before {
    content: "Option 5 Description 1";
}

section:nth-of-type(4):has(li:nth-child(5) input:checked)>p:nth-of-type(2)::before {
    content: "Option 5 Description 2";
}

section:nth-of-type(4):has(li:nth-child(5) input:checked)>img {
    content: url("./images/placeholder.png");
}