/**************/
/* CSS REMEDY */
/**************/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--font-roboto: 'Roboto', sans-serif;
	--font-roboto-condensed: 'Roboto Condensed', sans-serif;

	--sub-sub-text: 0.75em;/* 12px */
	--sub-text: 0.875em;/* 14px */
	--p-text: 1em;/* 16px */
	--h3-text: 1.125em;/* 18px */
	--h3-video-text: 1.375em;/* 22px */
	--h2-text: 1.625em;/* 26px */

	--text-color: white;
	--color-white: white;
	--color-black: black;
	--color-grey-light: #767676;
	--color-grey-dark: #151515;
	--color-grey-darker: #202020;
	--section-background: #181414;
	--marvel-red: #e62429;
	--scroll-bar: whitesmoke;
	--border-bottom: #bbbbbb;
	--name-text: #bbbbbb;

	--text-weight: 600;
	--h2-text-weight: 500;
	--bold-text-weight: bold;

	--sub-text-spacing: 0.0625em;/* 1px */
	--body-letter-spacing: 0.03125em;/* 0.5px */

	--header-background: #202020;
	--hamburger: white;
	--menu-background: #151515;
	--footer-background: #151515;
	--footer-seperator: 1px solid #393939;


}





/*********************/
/* 		Algemeen	 */
/*********************/

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--font-roboto);
	background-color: var(--color-white);
}



h2 {
	text-transform: uppercase;
	line-height: 1;
	position: relative;
	margin-bottom: 1em;
	font-family: var(--font-roboto-condensed);
	color: var(--color-grey-darker);
	font-size: var(--h2-text);
	font-weight: var(--h2-text-weight);
}

h2::before {
	left: 53px;
	top: -8px;
	transform-origin: left bottom;
}

h2::after {
	left: -6px;
	top: calc(100% + 3px);
	transform-origin: right top;
}

h2::before,
h2::after {
	background-color: #c6a972;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	transform: rotate(-45deg) skewX(45deg);
	width: 20px;
}

section {
	margin-bottom: 4em;
}

img:hover {
	cursor: pointer;
}







/*********************/
/* 		Header		*/
/*********************/

header {
	position: sticky;
	z-index: 1000;
	background-color: var(--header-background);
	width: 100%;
	top: 0;
}



header>nav {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 1;
}


header>nav h1 img {
	width: 5.5em;
	height: auto;
	position: relative;
	left: -0.5em;
}

header>nav>a img {
	width: 1.5em;
	height: auto;
	position: relative;
	right: 2em;
	top: 1em;
}

/* Hamburger Icon Styles */
.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 1.5625em;
	height: 0.9375em;
	cursor: pointer;
	margin: 0.625em;
	order: -1;
	position: relative;
	left: 1em;
	top: 0.8em;
}

.hamburger div {
	height: 0.25em;
	background-color: var(--hamburger);
	transition: 0.3s;
}

.hamburger div:not(:last-child) {
	margin-bottom: 0.25em;
}

/* Full-Width Sidebar Menu Styles */
.menu {
	position: fixed;
	top: 0;
	left: -100%;
	height: 100%;
	width: 100%;
	/* Full-width */
	background-color: var(--menu-background);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	padding: 1.25em;
	transition: left 0.3s ease;
	z-index: 999;
	text-transform: uppercase;

}

.menu.active {
	left: 0;
}

/* Close Button Styles */
.close-btn {
	align-self: flex-start;
	cursor: pointer;
	margin-bottom: 1.25em;
	width: 1.25em;
	height: 1.25em;
	position: relative;
	left: 0.8em;
}

.close-btn svg {
	width: 100%;
	height: 100%;
}

/* Menu Links */
.menu a {
	position: relative;
	text-decoration: none;
	padding: 1em 0;
	font-size: var(--p-text);
	font-family: var(--font-roboto);
	color: var(--text-color);
	left: 0.8em;
}

.menu a:hover {
	background-color: var(--color-grey-light);
}













/*********************/
/* 		Footer		 */
/*********************/

footer {
	background-color: var(--footer-background);
}

footer ul:nth-of-type(1) {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 2em 0;
	margin: 0;
	position: relative;
	border-bottom: var(--footer-seperator);
}

footer ul:nth-of-type(1) li:first-child {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}

footer ul:nth-of-type(1) img {
	width: 5em;
	padding: 0;
	margin: 0;
	position: relative;
	bottom: 2em;
}

footer ul:nth-of-type(1) li {
	flex: 1 1 50%;
	color: var(--text-color);
	font-family: var(--font-roboto);
	font-size: var(--sub-sub-text);
	text-transform: uppercase;
	position: relative;
	margin-top: 1em;
}

footer ul:nth-of-type(1) li:nth-child(even) {
	font-weight: var(--bold-text-weight);
	position: relative;
	left: 3em;
}




footer ul:nth-of-type(2) {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 2em 0;
	margin: 0;
	position: relative;
	border-bottom: var(--footer-seperator);
	color: var(--text-color);
	position: relative;
}

footer ul:nth-of-type(2) h3 {
	text-transform: uppercase;
	font-family: var(--font-roboto-condensed);
	font-weight: var(--bold-text-weight);
	font-size: var(--sub-text);
}

footer ul:nth-of-type(2) p {
	font-family: var(--font-roboto);
	font-size: var(--sub-text);
	color: var(--color-grey-light);
}

footer ul:nth-of-type(2) li:first-of-type img {
	width: 5em;
	padding: 0;
	margin: 0;
	position: relative;
	bottom: 0em;
	left: 1.5em;
}

footer ul:nth-of-type(2) li:nth-of-type(3) img {
	width: 3em;
	padding: 0;
	margin: 0;
	position: relative;
	bottom: 0em;
	left: 2.5em;
}

footer ul:nth-of-type(2) li {
	flex: 1 1 50%;
	text-transform: uppercase;
	position: relative;
	margin-top: 1em;
}





footer ul:nth-of-type(3) {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: center;
	padding: 0;
	margin: 0;
	gap: 0.7em;
	border-bottom: var(--footer-seperator);
}

footer ul:nth-of-type(3) li {
	flex: 0 0 auto;
	padding: 2em 0;
}

footer ul:nth-of-type(3) img {
	width: 1.3em;
	height: auto;
	filter: grayscale(1) brightness(0) invert(1) hue-rotate(0deg) saturate(1000%) brightness(0.4);
}



footer ul:nth-of-type(4) {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 2em;
	gap: 0.5em;
	justify-content: center;
	color: var(--color-grey-light);
	font-size: var(--sub-sub-text);
	font-family: var(--font-roboto);
}

footer ul:nth-of-type(4) li {
	flex: 1 0 auto ;
	text-align: center;
	white-space: nowrap;
}







/*********************/
/*	   Dark mode	 */
/*********************/



/* @media (prefers-color-scheme: dark) {

	:root {
		--color-white: #1c1c1c;
		--color-grey-dark: white;
		--color-grey-darker: white;
	}
} */